{% extends "base.html" %}
{% block content %}
<h1 style="color: yellow; text-align: center;">ABOUT US</h1>
<h6 style="color: whitesmoke;">Welcome to <span style="color: red;"><b>TWINSTA</b></span><br/>
    platform designed to connect people, share ideas,around the world. 
    Our mission is to provide a safe and inclusive space where users can express themselves, share content, and engage with others.</h6>
<h1 style="color: yellow; text-align: center;">PRIVACY POLICY</h1>
<h6 style="color: whitesmoke;">Privacy Policy
    At <span style="color:  red;"><b>TWINSTA</b></span>, we take your privacy seriously. We are committed to protecting your personal information and ensuring that your experience on our platform is secure.
    Below are key aspects of our privacy practices:</h6><br/>

    <li><h5 style="color: red;"><b>DATA COLLECTION</b></h5><h6 style="color: whitesmoke;"> We collect basic information such as your username, email, and profile data when you sign up. Additionally, we collect usage data to improve the platform’s performance.</h6></li>
    <li><h5 style="color: red;"><b>HOW WE USE YOUR DATA</b></h5><h6 style="color: whitesmoke;"> Your data is primarily used to provide a seamless experience on the platform, including customizing your feed, suggesting content, and improving our services.</h6></li>
    <li><h5 style="color: red;"><b>THIRD-PARTY SHARING</b></h5><h6 style="color: whitesmoke;"> We do not sell or share your personal information with third-party advertisers. Any data shared with third parties will be anonymized and only used for analytics and platform improvements.</h6></li>
    <li><h5 style="color: red;"><b>SECURITY</b></h5><h6 style="color: whitesmoke;">We use industry-standard encryption and security practices to protect your information. However, we recommend users take precautions such as enabling two-factor authentication and using strong passwords.</h6></li>
{% endblock %}